<div class="container">
    <div class="row">
        <div class="col-sm-2"><label>Identificacion</label></div>
        <div class="col-sm-2"><input type="id" class="form-control" id="id" placeholder="Documento" value="{{id}}"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><label>Tipo Documento:</label></div>
        <div class="col-sm-2"><select class="form-control" id="tipoDoc">
                <option>Cedula de ciudadania</option>
                <option>Tarjeta de identidad</option>
            </select>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
        <div class="col-sm-2"><label>Nombre</label></div>
        <div class="col-sm-2"><input type="nombre" class="form-control" id="nombre" placeholder="Nombre" value="{{nombre}}"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><label>Apellido:</label></div>
        <div class="col-sm-2"><input type="apellido" class="form-control" id="apellido" placeholder="Apellido" value="{{apellido}}">
        </div>
    </div>
</div>